*{
	padding: 0;
	margin:0;
	text-decoration: none;
	font-family: cursive;
}
.wade{
	width: 100%;
	position: fixed;
	padding: 13px auto;
	background-color:purple;
	height: 70px;
}
.wade .yama{
	
	width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.maria a{
	color:white;
	font-size: 30px;
	font-weight: 500;

}
.maria a span{
	color: black;
}
.menu{
	padding-top: 10px;
}
.menu li{
	display: inline-block;
}
.menu li a{
	color:white;
	font-size: 20px;
	font-weight: 200;
	margin-left: 20px;
	transition: color 2s;
}
.menu li a:hover{
    color: black;
}
#aicha{
	font-size: 50px;
	font-weight: 600.
}
#Ndeye{
	font-size: 50px;
	color: purple;
	font-family: algerian;
	font-weight: 500;
}
.Mama{
	font-size: 50px;
	font-weight: 500;
	text-align: center;
}
.Mama span{
	color: purple;
	font-size:50px;
	font-family: algerian;
}
#TP{
	height: 800px;
	width: 3000px;
	background:url('5881e3094edfe4133c1c3b060d4f7121.jpg');
	display: flex;
	margin-top: 0px;
}
.button-one{
	font-size: 20px;
	color: black;
	background-color: purple;
	border-radius: 20px;
	font-weight: 20px;
	padding: 10px;
	margin: 0;
	font-weight: 300px;
}
.button-one:hover{
	background: none;
	color: purple;
}
.Baba img{
	height: 600px;
	width: 420px;
	border-radius: 20px;
	margin-bottom: 5px;
}


.Dieyna{
	margin-top: 50px;
	font-size: 55px;
	font-weight: 40px;
	text-align: center;
	text-decoration: underline purple; 
}
.oumou p{
	
	font-size: 30px;
	font-weight: 600px;
	
	margin-left: 500px;
	padding-top: 10px 30px;
	margin-top:-500px;
	width: 55%; 
	
}
.oumou p span{
	color: blue;
}
 a2{
	color: white;
	font-size: 30px;
	font-weight: 200;
	background-color: purple;
	border:2px solid purple;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top:0px;
	width: 400px;
	margin-left: 500px; 
}
 a2:hover{
	background: none;
	color: purple;
}


*{
	padding: 0;
	margin:0;
	text-decoration: none;
	font-family: cursive;
}
#Mané{
	width: 100%;
	position: fixed;
	padding: 13px auto;
	background-color: purple;

}
#Mané #yama{
	
	width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.maria a{
	color:white;
	font-size: 30px;
	font-weight: 500;

}
.maria a span{
	color: black;
}
.menu{
	padding-top: 10px;
}
.menu li{
	display: inline-block;
}
.menu li a{
	color:white;
	font-size: 20px;
	font-weight: 200;
	margin-left: 20px;
	transition: color 2s;
}
.menu li a:hover{
	color: crimson;
}


#MA{
	
	color: white;
	font-size: 25px;
	height: 70px;
	background-color: black;
	text-align: center;
	
}
#oumou img{
	width: 170px;
	height: 130px;
	border-radius: 60px;
	border: solid pink 4px;
	box-shadow: pink;
	
}
#coly img{
	width: 170px;
	height: 130px;
	border-radius: 60px;
	border: solid pink 4px;
	box-shadow: pink;
}
#poupée img{
	width: 170px;
	height: 130px;
	border-radius: 60px;
	border: solid pink 4px;
	box-shadow: pink;
}
h2{
	margin-top: 0px;
	font-size: 30px;
}
 p{
	font-size: 25px;
	font-family: arial;
}
p span{
	color: crimson;
}
h1{
	margin-top: 3px;
	text-align: center;
	font-size: 25px;
}
a1{
     color: white;
	font-size: 30px;
	font-weight: 100;
	background-color: purple;
	border:2px solid purple;
	border-radius: 20px;
	padding: 5px 30px;
	margin-top: 15px;
}
a1:hover{
	background: none;
	color: purple;
}
.Bonbon input {
	height: 70px;
}
.T input{
	margin-top:-60px;
	padding:5px 15px;
	margin-left: 300px;
}
footer{
	background-color: black;
	color:white;
}
footer span{
	color: crimson;
}


	